/**********************************************************************
 *                NEVER COMMIT THIS KEY/FILE !!                       *
 *********************************************************************/
module.exports.secretToken ='PUT YOUR KEY HERE';
